
.four-zero footer > a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 90px;
    vertical-align: middle;
    position: relative;
}

.lc-block:not(.toggled) {
    display: none;
}

.lc-block.toggled {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 10;
}

.lc-block:not(.lcb-alt) {
    padding: 35px 55px 35px;
}

@media (max-width: 767px) {
    .lc-block {
        padding: 15px 35px 25px 20px;
        width: calc(100% - 60px);
    }
}

body.login-content {
    text-align: center;
    display: block;
}

body.login-content:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}
body.login-content:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/assets/images/login-bg.jpg") no-repeat;
    content: "";
    z-index: 0;
}

.logo-img-login {
    height: 60px;
    width: 218px;
    margin-left: -20px;
}
.user {
    display: flex;
}
.input-group-addon{
    margin-right: 20px;
}
#btn-login{
    font-size: 14px;
}